/* -------------- style for sprite --------------*/
/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-IMG_11032016_160446 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 1602px;
  height: 948px;
}
.icon-russia:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -948px;
  width: 640px;
  height: 480px;
}
.icon-russia {
  background-image: url(../img/sprite.png);
  background-position: -640px -948px;
  width: 640px;
  height: 480px;
}

/* -------------- style for font-icon --------------*/
[data-icon]:before {
  font-family: "main" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "main" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-angle-right:before {
  content: "\61";
}
.icon-angle-left:before {
  content: "\62";
}
.icon-angle-down:before {
  content: "\63";
}
.icon-angle-up:before {
  content: "\64";
}
.icon-bars:before {
  content: "\66";
}
.icon-times:before {
  content: "\65";
}
.icon-heart:before {
  content: "\67";
}
.icon-heart-o:before {
  content: "\68";
}
.icon-facebook-official:before {
  content: "\69";
}
.icon-twitter:before {
  content: "\6a";
}
.icon-vk:before {
  content: "\6b";
}
.icon-odnoklassniki:before {
  content: "\6c";
}
.icon-search:before {
  content: "\6d";
}
.icon-star:before {
  content: "\6e";
}
.icon-star-o:before {
  content: "\6f";
}
.icon-check:before {
  content: "\70";
}
.icon-phone:before {
  content: "\71";
}
.icon-telephone:before {
  content: "\72";
}
.icon-whatsapp:before {
  content: "\73";
}



/* -------------- style for reset --------------*/
a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #000;
}
.bold {
  font-weight: 600;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
img,
video,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
input {
  outline: 0 !important;
}
textarea {
  resize: none;
}
.type {
  font-size: 14px;
  line-height: 17px;
}
.type-small {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}
.hidden {
  display: none !important;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* -------------- style for elements --------------*/
body {
  overflow-x: hidden;
}
h1 {
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 19px !important;
  }
}
h2,
h3,
h4,
.span_h2 {
  font-size: 22px !important;
}
@media only screen and (max-width: 768px) {
  h2,
  h3,
  h4,
  .span_h2 {
    font-size: 18px !important;
  }
}
.title {
  text-transform: uppercase;
  color: #08182b;
  margin-bottom: 20px;
  font-weight: 700;
}
.title__md {
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .title__md {
    font-size: 14px;
  }
}
.title__lg {
  font-size: 32px;
}
@media only screen and (max-width: 768px) {
  .title__lg {
    font-size: 24px;
  }
}
.title--light {
  color: #fff;
}
.btn,
.wpcf7-submit {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.btn--md,
.wpcf7-submit {
  font-size: 20px;
  padding: 10px 30px;
}
.btn--sm {
  font-size: 12px;
  padding: 10px 20px;
}
.btn--red,
.wpcf7-submit {
  background: #ee2560;
  color: #fff;
}
.btn--red:hover,
.wpcf7-submit:hover {
  background: #d01048;
}
.btn--green {
  background: #249862;
  color: #fff;
}
.btn--green:hover {
  background: #1a6f47;
}
.btn--red-light {
  border: 1px solid #ee2560;
  color: #ee2560;
}
.btn--red-light:hover {
  background: #d01048;
  color: #fff;
}
.section {
  padding: 90px 0px;
}
@media only screen and (max-width: 768px) {
  .section {
    padding: 30px 0;
  }
  .section .btn {
    width: 100%;
    text-align: center;
  }
}
p {
  margin: 10px 0;
  color: #535c67;
  font-size: 16px;
}
li {
  color: #535c67;
  font-size: 16px;
}
strong {
  color: #23282d;
  font-weight: 600;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.shrink {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  -webkit-animation: slideInDown 1s 1 ease-in-out;
          animation: slideInDown 1s 1 ease-in-out;
}
input,
textarea {
  border: 0px;
  padding: 10px 15px;
  border: 1px solid #f4f4f4;
}
button {
  text-transform: uppercase;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  border: 0px;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 10px 30px;
  background: #ee2560;
  color: #fff;
}
button:hover {
  background: #d01048;
}
button form {
  display: block;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
          border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
          border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
          border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
.small-only {
  display: none;
}
@media only screen and (max-width: 768px) {
  .small-only {
    display: table;
  }
}
@media only screen and (max-width: 768px) {
  .large-only {
    display: none;
  }
}
.wpcf7-submit {
  widht: auto;
}
#arrow-top {
  bottom: 50px;
  right: 20px;
  background: #ee2560;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  opacity: 0.7;
  display: none;
}
.kama_breadcrumbs {
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
  margin-top: 10px;
}
.town-wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 30px 0;
}
.town-el {
  padding: 3px 10px;
}
.back-call {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: fixed;
  bottom: 42px;
  left: 20px;
  height: 50px;
  width: 50px;
  background: #249862;
  z-index: 9999;
  opacity: 0.7;
}
@media only screen and (max-width: 768px) {
  .back-call {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.back-call .icon-whatsapp:before {
  color: #fff;
  font-size: 32px !important;
  font-family: normal;
}
.get__adress {
  padding: 20px;
  border: 1px solid #f4f4f4;
  margin: 30px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.get__adress:hover {
  border: 1px solid #ee2560;
}
.get__adress .icon:before {
  font-size: 46px;
  color: #ee2560;
}
.get__adress-text {
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 26px;
}
@media only screen and (max-width: 768px) {
  .get__adress-text {
    font-size: 16px;
  }
}
.stage {
  border: 1px solid #f4f4f4;
  padding: 20px;
  background: #f8f8f8;
  margin: 20px 0;
}
@media only screen and (max-width: 768px) {
  .stage {
    padding: 10px;
  }
}
.stage h3 {
  text-align: center;
}
.stage__wraper {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.stage__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  width: 48%;
}
@media only screen and (max-width: 768px) {
  .stage__el {
    width: 100%;
  }
}
.stage__icon {
  margin-right: 20px;
}
@media only screen and (max-width: 768px) {
  .stage__icon {
    margin-right: 10px;
  }
}
.stage__icon i:before {
  font-size: 34px;
  color: #ee2560;
}
.stage__title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}
.span_h2 {
  margin: 20px 0;
}
.slider-thanks--titile {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  background: #f4f4f4;
}
.footer-info {
  margin: 30px;
}
@media only screen and (max-width: 768px) {
  .footer-info {
    display: none;
  }
}
.footer-info p {
  text-align: center;
  font-size: 12px;
}
p,
li {
  font-size: 16px;
  color: #000;
  line-height: 22px;
}
p,
ul {
  margin-bottom: 30px;
}
.ya-share2 {
  margin-top: 20px !important;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
/* -------------- style for fonts --------------*/
@font-face {
  font-family: "main";
  src: url("../fonts/main.eot"); /* IE9*/
  src: url("../fonts/main.eot?#iefix") format("embedded-opentype"), url("../fonts/main.woff") format("woff"), url("../fonts/main.ttf") format("truetype"), url("../fonts/main.svg#Futura LT W01 Book") format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}
.flaticon-bank:before {
  content: "\f100";
}
.flaticon-businessmen:before {
  content: "\f101";
}
.flaticon-clock:before {
  content: "\f102";
}
.flaticon-conference:before {
  content: "\f103";
}
.flaticon-contract:before {
  content: "\f104";
}
.flaticon-handshake:before {
  content: "\f105";
}
.flaticon-hierarchy:before {
  content: "\f106";
}
.flaticon-network:before {
  content: "\f107";
}
.flaticon-presentation:before {
  content: "\f108";
}
.flaticon-task:before {
  content: "\f109";
}
.flaticon-thumb-up:before {
  content: "\f10a";
}
/* -------------- style basic --------------*/
body {
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
}
.main-cont {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
}
.main-cont:before,
.main-cont:after {
  content: '';
  display: table;
}
.main-cont:after {
  clear: both;
}
@media only screen and (min-width: 1200px) {
  .main-cont {
    width: 1200px;
  }
}
.content-wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 30px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.content {
  width: 68%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
@media only screen and (max-width: 968px) {
  .content {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}
.toolbar {
  width: 26%;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
@media only screen and (max-width: 968px) {
  .toolbar {
    width: 100%;
  }
}
.map {
  margin-top: -40px;
}
.ya-share2 {
  margin-top: 50px;
}
@media only screen and (max-width: 768px) {
  .ya-share2 {
    margin-top: 30px;
  }
}
.star__reting img {
  display: inline-block !important;
}
/* -------------- style for header --------------*/
.section__breadcrumbs {
  background: #f4f4f4;
  padding: 30px 0px;
  margin-bottom: 40px;
}
.section__breadcrumbs h1 {
  margin: 0;
}
.section__clients {
  border-top: 1px solid #f4f4f4;
}
.section__clients .title {
  text-align: center;
  margin-bottom: 30px;
}
.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact__form {
  width: 48%;
}
@media only screen and (max-width: 768px) {
  .contact__form {
    width: 100%;
  }
}
.contact__form input {
  width: 100%;
  margin-bottom: 20px;
}
.contact__form textarea {
  width: 100%;
  margin-bottom: 20px;
}
.section__contact {
  background: #f4f4f4;
}
.contact__text {
  width: 48%;
}
@media only screen and (max-width: 768px) {
  .contact__text {
    width: 100%;
  }
}
.contact__phone {
  font-size: 42px;
}
@media only screen and (max-width: 768px) {
  .contact__phone {
    font-size: 24px;
  }
}
.footer {
  -webkit-box-shadow: 0px 3px 8px #e3e3e3;
          box-shadow: 0px 3px 8px #e3e3e3;
  background: #fff;
  z-index: 2000;
  background: #08182b;
  padding: 10px 0;
}
.footer__logo {
  margin: 5px 0;
  width: 200px;
}
@media only screen and (max-width: 768px) {
  .footer__logo {
    width: 150px;
  }
}
.footer-wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .footer__phone {
    font-size: 16px;
  }
}
.footer__link {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.footer__link > a {
  text-transform: uppercase;
  color: #fff;
  margin-right: 30px;
  font-size: 12px;
  display: block;
  font-weight: 700;
}
.footer-sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  background: #f4f4f4;
  z-index: 2000;
  border-top: 2px solid #ee2560;
}
.footer-sub__el {
  display: block;
  white-space: nowrap;
  padding: 10px;
  width: 200px;
  border-bottom: 1px solid #dbdbdb;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.footer-sub__el:hover {
  background: #ee2560;
  color: #fff;
}
.section__four-service {
  padding-bottom: 0px;
}
.four-service-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.four-service-el {
  width: 48%;
  padding: 20px;
  margin-bottom: 50px;
  position: relative;
  border-left: 40px solid #f6f6f6;
  -webkit-box-shadow: 0px 3px 8px #e3e3e3;
          box-shadow: 0px 3px 8px #e3e3e3;
}
@media only screen and (max-width: 768px) {
  .four-service-el {
    width: 100%;
    border: 0px;
  }
}
.four-service-title {
  font-size: 26px;
  font-weight: 700;
}
@media only screen and (max-width: 1200px) {
  .four-service-title {
    font-size: 22px;
  }
}
.four-service-text p {
  color: #646464;
}
.four-service-text img {
  position: absolute;
  right: 0px;
  top: 0;
}
.four-service-price {
  font-size: 30px;
  color: #ee2560;
  font-weight: 200;
}
.section__get-order {
  background: #f4f4f4;
}
.get-order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
.get-order__text {
  text-align: center;
  width: 60%;
  margin-bottom: 20px;
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .get-order__text {
    width: 100%;
  }
}
.get-order__img {
  margin-bottom: 20px;
}
.header {
  -webkit-box-shadow: 0px 3px 8px #e3e3e3;
          box-shadow: 0px 3px 8px #e3e3e3;
  background: #fff;
  z-index: 2000;
}
@media only screen and (max-width: 768px) {
  .header {
    padding: 10px 0px;
  }
}
.header__logo {
  margin: 5px 0;
  width: 200px;
}
@media only screen and (max-width: 768px) {
  .header__logo {
    width: 100px;
  }
}
.header-wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}
@media only screen and (max-width: 768px) {
  .header-wraper {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header-wraper .icon-bars {
  display: none;
  margin-left: 20px;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .header-wraper .icon-bars {
    display: block;
  }
}
.header-wraper .icon-bars:hover {
  cursor: pointer;
}
.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0px;
  top: 100%;
}
@media only screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media only screen and (max-width: 768px) {
  .header__nav {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    display: none;
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 2000;
    margin-top: 10px;
  }
}
.header__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 700;
}
@media only screen and (max-width: 960px) {
  .header__phone {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .header__phone {
    margin-left: auto;
    border-bottom: 1px dotted #000;
  }
}
.header__link {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .header__link {
    width: 100%;
    border-top: 1px solid #f4f4f4;
    display: block;
  }
}
.header__link:hover .header-sub {
  display: block;
}
.header__link > a {
  text-transform: uppercase;
  color: #08182b;
  margin-right: 30px;
  font-size: 16px;
  display: block;
  font-weight: 700;
}
@media only screen and (max-width: 960px) {
  .header__link > a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .header__link > a {
    background: #fff;
    display: inline-block;
    padding: 10px;
    margin-right: 0;
  }
}
.header-sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  background: #f4f4f4;
  z-index: 2000;
  border-top: 2px solid #ee2560;
}
@media only screen and (max-width: 768px) {
  .header-sub {
    display: block;
    position: relative;
    width: 100%;
    border-top: 0px;
  }
}
.header-sub__el {
  display: block;
  padding: 10px;
  width: 200px;
  border-bottom: 1px solid #dbdbdb;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
@media only screen and (max-width: 768px) {
  .header-sub__el {
    width: 100%;
  }
}
.header-sub__el:hover {
  background: #ee2560;
  color: #fff;
}
.list-service__link {
  display: inline-block;
  margin-bottom: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  border-bottom: 1px solid #f4f4f4;
  width: 100%;
  position: relative;
  color: #000;
}
.list-service__link:before {
  content: '>';
  position: absolute;
  left: 0px;
  color: #ee2560;
}
.list-service__link:last-child {
  border-bottom: 0px;
}
.list-service__link .title {
  padding-left: 20px;
}
.list-service__el {
  margin-bottom: 20px;
  padding: 25px 25px 15px 25px;
  border: 1px solid #f4f4f4;
  border-top: 2px solid #ee2560;
}
.list-service__el:nth-child(1) {
  border-top: 2px solid #f4f4f4;
}
.list-service__toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f4f4f4;
  padding: 10px 30px;
}
.list-service__toggle:hover {
  cursor: pointer;
}
.list-service__toggle .title {
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  .list-service {
    margin-bottom: 20px;
  }
}
.main-service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.main-service .main-service__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
.main-service .main-service__el:nth-child(1) .main-service_link {
  background: #ee2560;
  color: #fff;
}
.main-service__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}
.main-service__el {
  width: 24%;
}
@media only screen and (max-width: 768px) {
  .main-service__el {
    width: 100%;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
.main-service__el .icon:before {
  margin-right: 20px;
  font-size: 40px !important;
  color: #ee2560;
}
.main-service__el a {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
}
.main-service_title {
  font-size: 20px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .main-service_text {
    text-align: center;
  }
}
.section__personal {
  padding-top: 0px;
}
.personal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}
.personal__el {
  width: 24%;
  border: 1px solid #f4f4f4;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .personal__el {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .personal__el {
    width: 100%;
  }
}
.personal__photo {
  height: 200px;
  background-size: cover;
  width: 100%;
}
.personal__info {
  text-align: center;
  background: #fff;
  padding: 10px;
}
.personal__name {
  font-size: 20px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .personal__name {
    font-size: 16px;
    min-height: auto;
  }
}
.personal__text {
  text-align: center;
  padding: 10px 10px 20px 10px;
}
.question {
  margin-top: 40px;
}
.question__el {
  padding: 20px;
  border: 1px solid #f4f4f4;
  margin-bottom: 20px;
}
.question__more {
  text-transform: uppercase;
  color: #ee2560;
}
.relax {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.relax__text {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .relax__text {
    width: 100%;
  }
}
.relax__text .btn {
  margin-top: 20px;
}
.relax__img {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  .relax__img {
    display: none;
  }
}
.relax__img img {
  width: 80%;
}
.section__relax {
  padding-bottom: 0;
}
.section-call {
  padding: 20px;
  border: 2px solid #249862;
  margin-bottom: 20px;
}
.section-call__text {
  text-transform: uppercase;
  text-align: center;
  color: #3a3a3a;
}
.section-call__number {
  font-weight: 700;
  text-align: center;
  margin: 20px 0 10px;
  font-size: 32px;
}
@media only screen and (max-width: 1024px) {
  .section-call__number {
    font-size: 26px;
  }
}
.section-free {
  padding: 20px;
  border: 2px solid #249862;
  padding-bottom: 0;
  margin-bottom: 20px;
}
.section-free__text {
  text-transform: uppercase;
  text-align: center;
}
.section-free__get {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
  color: #249862;
}
.service-value {
  border: 2px solid #249862;
  padding: 20px;
  margin-bottom: 30px;
}
.service-value__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f4f4f4;
}
.service-value__el:last-child {
  margin-bottom: 30px;
}
.service-value__cont {
  margin-bottom: 20px;
}
.service-value__val {
  font-weight: 700;
  font-size: 16px;
}
.service-value__cost {
  font-size: 20px;
}
.service-value_but {
  width: 100%;
  text-align: center;
}
.service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.service__info {
  width: 60%;
}
@media only screen and (max-width: 768px) {
  .service__info {
    width: 100%;
    margin-bottom: 20px;
  }
}
.service__item {
  width: 35%;
}
@media only screen and (max-width: 768px) {
  .service__item {
    width: 100%;
  }
}
.section__service {
  padding: 15px 0 30px 0;
}
.section__service:first-child {
  margin-top: -30px;
}
.slider-main {
  width: 100%;
}
.slider-main-el {
  width: 100%;
  height: 400px;
  background-position: center top;
}
@media only screen and (max-width: 768px) {
  .slider-main-el {
    background: #08182b;
    background-image: none !important;
  }
}
.slider-main-el .main-cont {
  height: 100%;
}
.slider-main__wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
.slider-main__wraper--left {
  width: 40%;
}
@media only screen and (max-width: 768px) {
  .slider-main__wraper--left {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
.slider-main__text {
  color: #fff;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .slider-main__text {
    text-align: center;
  }
}
.table_tarif tr td {
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
}
.table_tarif tr td:nth-child(1) {
  text-align: left;
  font-size: 14px;
}
.table_tarif tr:nth-child(1) {
  font-weight: 700;
}
.table_tarif tr:nth-child(1) td {
  font-size: 14px;
  vertical-align: middle;
}
.table_tarif tr:nth-child(1) td:nth-child(1) {
  width: 50%;
}
.table_tarif__plus {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #249862 !important;
  font-size: 30px;
  width: 22px;
  height: 22px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
}
.table_tarif__minus {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #000;
  background: #e3e3e3 !important;
  color: #fff;
  font-size: 30px;
  width: 22px;
  height: 22px;
  display: inline-block;
  text-align: center;
}
