@import 'rupture'
@import "variable/_constant.styl"
@import "variable/_function.styl"
@import "variable/_ie.styl"

/* -------------- style for sprite --------------*/
@import "icon/sprite.css"

/* -------------- style for font-icon --------------*/
@import "icon/style.css"

/* -------------- style for reset --------------*/
@import "variable/_default.styl"

/* -------------- style for elements --------------*/
@import "variable/_element.styl"

/* -------------- style for fonts --------------*/
@import "variable/_fonts.styl"

rupture.scale = 0 480px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

/* -------------- style basic --------------*/


body
	font-size 14px
	font-family 'PT Sans', sans-serif
	
.main-cont
	center(1200px)
	position relative
	width 100%
	padding 0 10px
	+above(1200px)
		width 1200px
.content-wraper
	flex(between)
	fw()
	margin-bottom 30px
	align-items flex-start
.content
	+below(968px)
		width 100%
		order 2
	width 68%	
	order 1
.toolbar
	+below(968px)
		width 100%
		order 1
	width 26%	
	order 2
.map
	margin-top -40px
.ya-share2
	+below(768px)
		margin-top 30px
	margin-top 50px	
.star__reting
	img
		display inline-block!important  
/* -------------- style for header --------------*/
@import "include/*"
