//Include style
include block_html/_style.jade
body
	//Include header
	include block_html/elements/_header.jade
	include block_html/elements/_const.jade

	include block_html/elements/_breadcrumbs.jade
	
	.main-cont
		.content-wraper
			.content
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nostrum sint recusandae neque vitae. Blanditiis, quia perspiciatis inventore iste est fuga repellendus molestias eaque ducimus sapiente doloribus quidem, totam similique?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis possimus eaque consectetur error delectus assumenda, explicabo nesciunt. Ea dolore fugit enim accusantium, officiis commodi iste nulla tenetur corrupti iure facilis veritatis. Incidunt tenetur eius, repudiandae ex! Laboriosam praesentium molestiae non.

				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque veritatis, tempora incidunt nobis quaerat esse. Placeat fuga error, quam facere ducimus nemo consequuntur quo nisi? Quos sit sapiente voluptatum quae iste incidunt dolore accusantium fugiat corporis dolores maxime, inventore alias dolor! Optio quo autem perferendis, recusandae suscipit quasi sint consectetur similique, error aperiam inventore explicabo id. Quae vel quos ipsam, quasi, molestiae similique iste, ea aspernatur sed hic, sapiente. Dolore quidem iure rerum ex facilis saepe autem, iusto itaque enim dolor deserunt nemo vel blanditiis eveniet ducimus, earum error ea eligendi, nihil vitae ipsa laboriosam impedit debitis adipisci. Officiis cupiditate quos corporis id suscipit dolor deserunt nesciunt sequi placeat, facere odio est dolorem eveniet assumenda magni saepe nemo distinctio animi ullam rem quis fugit? Nemo rerum magnam nulla excepturi molestias, cupiditate alias saepe officia minus animi iure, distinctio possimus nobis odio neque ratione esse ullam laudantium maiores earum voluptatem beatae, autem aperiam. Porro minima, magnam. Repudiandae accusamus magni ipsam molestiae quia quidem ratione voluptatem fuga placeat, delectus, deserunt ipsum nam iusto quam aut omnis dignissimos nobis tempore aperiam itaque ea culpa, labore veniam. Ad commodi non ipsam quaerat officiis ullam reprehenderit delectus a repudiandae laboriosam, inventore asp
			.toolbar
				//section list-service
				include block_html/elements/_list-service.jade

	//section clients
	include block_html/elements/_contact.jade
	//section footer
	include block_html/elements/_footer.jade

//Include scripts
include ./block_html/_script.jade

