//Include style
include block_html/_style.jade
body
	//Include header
	include block_html/elements/_header.jade
	include block_html/elements/_const.jade

	//slider
	include block_html/elements/_slider.jade
	
	//section main service
	include block_html/elements/_main-service.jade
	
	//section main service
	include block_html/elements/_get-order.jade
	
	//section relax
	include block_html/elements/_relax.jade
	
	//section clients
	include block_html/elements/_clients.jade
	
	//section clients
	include block_html/elements/_contact.jade
	
	//section personal
	include block_html/elements/_personal.jade


	//section footer
	include block_html/elements/_footer.jade
	
	
	

//Include scripts
include ./block_html/_script.jade

