//Include style
include block_html/_style.jade
body
	//Include header
	include block_html/elements/_header.jade
	include block_html/elements/_const.jade

	include block_html/elements/_breadcrumbs.jade
	
	.main-cont
		.content-wraper
			.content
				p Открыть ООО под ключ под самостоятельно довольно проблематично. На каждом этапе работ существуют свои тонкости и ньюансы которые познаются не за один день. Регистрация ООО под ключ предполагает полный спект услуг по регистрации ООО с получением всех необходимых учредительных документов, свидетельств (ОГРН// ИНН) печати и других сопутствующих документов.

				p Очень время затратна такая услуга как регистрация ООО под ключ. Москва большой город и оказание такой услуги в мегаполисе увеличивает затрату времени на порядок. Поэтому мы предполагаем, что услуга ООО под ключ целесообразна для заказчиков с ограниченным свободным временем. Заказчик задействован в процессе регистрации ООО минимально, что позволяет с экономить значительное время нашего клиента. В настоящее время развивается электронный документооборот с примененим ЭЦП, что позволяет применительно к регистрации ООО значительно сократить время затраты заказика, т.к. поездка в налоговый орган лично заявителю теряет актуальность. (Что это такое подробно-подача заявления на регистрацию ООО посредством ЭЦП).

				p Регистрация фирмы под ключ так же включает в себя оплату госпошлин и юридического адреса. Ниже приведен процесс регистрации ООО под ключ поэтапно.

				p 
					strong 1. Начальный этап:
				ul
					li Получение полной информации об ООО и ее деятельности (наименование, полные паспортные данные учредителей и директора, размер и состав уставного капитала, местонахождение фирмы, и т.д.);
					li Подбор видов деятельности по классификатору ОКВЭД;
					li Подбор юридического адреса;
					li Определение системы налогообложения (ОСНО, УСН-6% или 15%);
				p
					strong 2. Основной этап:
				
				ul
					li Подготовка пакета документов для регистрации ООО (Заявление по форме Р11001, Решение/протокол о создании ООО, Устав-2 экз., заявление на УСН – при необходимости);
					li Предоствление юридического адреса;
					li Оплата госпошлины в размере 4000 руб.;
					li Поход с завителем к нотариусу для заверки подписи на заявлениии Р11001;
					li Поездка в налоговый регорган для подачи полного пакета документов на регистрацию ООО;
					li Получение расписки от инспектора о о полуенных налоговым регорганом документов;
					li Получение документов по доверенности от заявителя (Устав, Свидетельства ОГРН и ИНН, выписка из ЕГРЮЛ).
				p
					strong 3. Заключительный этап:
				ul
					li Изготовление печати (простая пешка);
					li Получение кодов статистики ОКВЭД;
					li Регистрация фирмы в ПФР и получение уведомления;
					li Регистрация фирмы в ФСС и получение уведомления;
					li Передача документов заказчику.
					li Перечень документов получаемых Заказчиком по окончании работ:
				ul
					li Устав (с отметкой налоговой);
					li Договор об Учреждении ООО (при учреждении ООО 2-мя и более учредителями);
					li Решение о создании Общества;
					li Список участников Общества;
					li Свидетельство ОГРН (о регистрация ООО);
					li Свительство ИНН (о постановке на налоговый учет);
					li Выписка из ЕГРЮЛ;
					li Печать;
					li Коды статитстики ОКВЭД;
					li Информационное письмо с рег номером ПФР;
					li Информационное письмо с рег номером ФСС;
					li Договор аренды адреса. Копия свидетельства о праве собственности на помещение/место.
					li Регистрация ООО под ключ – это создание готовой к работе бизнес структуры со всем необходимым набором документов и инструментов для реализации основных целей и задач компании.
				//section service-value
				include block_html/elements/_question.jade
				
			.toolbar
				//section service-value
				include block_html/elements/_service-value.jade
				
				//section list-service
				include block_html/elements/_list-service.jade

	//section clients
	include block_html/elements/_contact.jade
	//section footer
	include block_html/elements/_footer.jade

//Include scripts
include ./block_html/_script.jade

