body
	overflow-x hidden
h1
	font-size 24px	
	+below(768px)
		font-size 19px!important
h2,h3,h4,.span_h2
	font-size 22px!important
	+below(768px)
		font-size 18px!important

.title
	up()
	color dark
	margin-bottom 20px
	font-weight 700 
.title__md
	+below(768px)
		font-size 14px
	font-size 18px
.title__lg
	+below(768px)
		font-size 24px
	font-size 32px
.title--light
	color white
.btn
	up()
	display inline-block
	margin-bottom 20px
	//br(4px)
	tr(all)
.btn--md
	font-size 20px
	padding 10px 30px
.btn--sm
	font-size 12px
	padding 10px 20px
.btn--red
	background red
	color white
	&:hover
		background darken(red,10)
.btn--green
	background green
	color white 
	&:hover
		background darken(green,10)
.btn--red-light
	border 1px solid red
	color red
	&:hover
		background darken(red,10)
		color white
.section
	+below(768px)
		padding 30px 0
		.btn
			width 100%
			text-align center
	padding 90px 0px
p
	margin 10px 0
	color dark-light
	font-size 16px
li
	color dark-light
	font-size 16px
strong
	color #23282d
	font-weight 600 
@-webkit-keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.shrink
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out

input,textarea
	border 0px
	padding 10px 15px
	border 1px solid grey
button
	up()
	br(4px)
	tr(all)
	border 0px
	display inline-block
	margin-bottom 20px
	font-size 20px
	padding 10px 30px
	background red
	color white
	&:hover
		background darken(red,10)
	form
		display block 

table
	table(true,true)
.small-only
	+below(768px)
		display table
	display none
.large-only
	+below(768px)
		display none

.wpcf7-submit
	@extend .btn
	@extend .btn--md
	@extend .btn--red
	widht auto
#arrow-top
	
	bottom 50px
	right 20px
	background red
	color white
	up()
	padding 10px 20px
	br(4px)
	opacity .7
	display none

.kama_breadcrumbs
	text-transform uppercase
	font-size 12px 
	color #999999
	margin-top 10px
.town-wraper
	flex(mid)
	fw()
	margin 30px 0
.town-el
	padding 3px 10px
.back-call
	+below(768px)
		display flex 
	round()
	flex(mid)
	display none
	position fixed
	bottom 42px
	left 20px
	height 50px
	width 50px
	background green
	z-index 9999
	opacity .7
	.icon-whatsapp:before
		color white
		font-size 32px!important
		font-family normal 

.get__adress
	padding 20px
	border 1px solid grey
	margin 30px 0
	flex(mid)
	&:hover
		border 1px solid red
	.icon
		&:before
			font-size 46px
			color red
.get__adress-text
	+below(768px)
		font-size 16px
	up()
	margin-left 20px
	font-size 26px
.stage
	+below(768px)
		padding 10px
	border 1px solid grey
	padding 20px
	background #f8f8f8 
	margin 20px 0
	h3
		text-align center
.stage__wraper
	fw()
	flex(between)
.stage__el
	+below(768px)
		width 100%
	display flex
	margin-bottom 20px
	padding 10px
	width 48%
.stage__icon
	+below(768px)
		margin-right 10px
	margin-right 20px
	i
		&:before
			font-size 34px
			color red
.stage__title
	font-weight 600
	font-size 16px
	margin-bottom 5px 
.span_h2
	margin 20px 0
.slider-thanks--titile
	text-align center
	text-transform uppercase
	padding 20px
	background grey 

.footer-info
	+below(768px)
		display none
	margin 30px
	p
		text-align center
		font-size 12px
p,li
	font-size 16px
	color black
	line-height 22px

p,ul
	margin-bottom 30px
	
.ya-share2
	margin-top 20px !important
	
