h1
	+below(768px)
		font-size 24px
.title
	up()
	color dark
	margin-bottom 20px
	font-weight 700 
.title__md
	+below(768px)
		font-size 14px
	font-size 18px
.title__lg
	+below(768px)
		font-size 24px
	font-size 32px
.title--light
	color white
.btn
	up()
	display inline-block
	margin-bottom 20px
	br(4px)
	tr(all)
.btn--md
	font-size 20px
	padding 10px 30px
.btn--sm
	font-size 12px
	padding 10px 20px
.btn--red
	background red
	color white
	&:hover
		background darken(red,10)
.btn--red-light
	border 1px solid red
	color red
	&:hover
		background darken(red,10)
		color white
.section
	+below(768px)
		padding 30px 0
		.btn
			width 100%
			text-align center
	padding 90px 0px
p
	margin 10px 0
	color dark-light
	font-size 16px
li
	color dark-light
	font-size 16px
strong
	color black
@-webkit-keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.shrink
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out

input,textarea
	border 0px
	padding 10px 15px
	border 1px solid grey
button
	up()
	br(4px)
	tr(all)
	border 0px
	display inline-block
	margin-bottom 20px
	font-size 20px
	padding 10px 30px
	background red
	color white
	&:hover
		background darken(red,10)
	form
		display block 

table
	table(true,true)
.small-only
	+below(768px)
		display table
	display none
.large-only
	+below(768px)
		display none

.wpcf7-submit
	@extend .btn
	@extend .btn--md
	@extend .btn--red
	widht auto
#arrow-top
	bottom 20px
	right 20px
	background red
	color white
	up()
	padding 10px 20px
	br(4px)
	opacity .7
	display none
