.section.section__clients
	.main-cont
		.clients
			.clients__text
				.title.title__lg наши клиенты
		.clients_slider.owl-carousel
			- for (var a = 1; a < 12; a++)
				img(src="img/b-ico-#{a}.png", alt="")
