.section.section__contact
	.main-cont
		.contact
			.contact__form
				.title.title__lg Свяжитесь с нами
				form(action="#")
					input(type="text" placeholder="Ваше имя")
					input(type="phone" placeholder="Ваше телефон")
					input(type="email" placeholder="Ваша почта")
					textarea(name="", cols="30", rows="10" placeholder="Ваше сообщение")
					button.btn.btn--md.btn--red Отправить
			.contact__text
				.contact__phone.title.title__lg 8(495)483-21-21
				.contact__adress.title.title__md г. Москва Гжельский переулок 13а стр 2 
				.contact__email.title.title__md info@mail.ru
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, consequuntur eos adipisci eligendi a aperiam, praesentium dolor pariatur molestias nostrum fuga sint placeat repudiandae, debitis atque eum dolore assumenda ut.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, commodi.
