//footer
.footer-info
	p Внимание! Данный интернет-сайт носит информационный характер и не является публичной офертой, которая определяется положениями Статьи 437 (2) Гражданского кодекса РФ.
	p Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к нашим менеджерам по указанным контактам.
.footer
	.main-cont
		#arrow-top вверх
		.header-wraper
			a(href="/").footer__logo
				img(src="img/logo-footer.png", alt="")
			a(href="#").footer__phone 8(495)483-21-21


