// about-four service
.section.section__four-service
	.main-cont
		.four-service-wrap
			.four-service-el
				.four-service__info
					.four-service-title Представительство в суде 
					.four-service-text 
						p  Подготовка претензий, исковых заявлений, формирование пакета документов для подачи в суд. Полное сопровождение судебного процесса и представительство в судах первой, апелляционной и кассационных инстанциях. Защита прав и законных интересов граждан. Сопровождение судебного процесса «под ключ». Получение определений. Решения и исполнительных листов.
					a(href="#").btn.btn--sm.btn--red.main-service_link Подробнее
				.four-service__img
						img(src="img/adv-service-1.jpg", alt="")
			.four-service-el
				.four-service__info
					.four-service-title Услуги для бизнеса 
					.four-service-text 
						p  Создание, обслуживание и ликвидация юридических лиц. Регистрация ООО и ИП. Внесение изменений в учредительные документы, Купля-Продажа долей в Уставном капитале, Смена генерального директора и др. Правовое сопровождение деятельности компании, абонентское юридическое обслуживание.
				.four-service__img
						img(src="img/adv-service-3.jpg", alt="") 
			.four-service-el
				.four-service__info
					.four-service-title Оценочные услуги 
					.four-service-text 
						p  Независимая оценка бизнеса и предприятий. Оценка вклада в Уставной капитал. Оценка долей и акций. Независимая оценка недвижимости и движимого имущества. Оценка имущества для нотариуса для вступления в наследство. Оценка ущерба при заливах, пожарах и ДТП. Оценка некачественных товаров, работ и услуг.
				.four-service__img
						img(src="img/adv-service-2.jpg", alt="")
			.four-service-el
				.four-service__info
					.four-service-title Юридические консультации 
					.four-service-text 
						p  Полные письменные и устные правовые консультации по Гражданскому, Административному, Наследственному праву. Правовой анализ документов. Вопросы оформления РВП, ВНЖ, получение Гражданства РФ. Оформление наследства под ключ. 
				.four-service__img
						img(src="img/adv-service-4.jpg", alt="")
// about-four service
				
