.section.section__get-order
	.main-cont
		.get-order
			.get-order__img
				img(src="img/pen.png", alt="")
			.get-order__text 
				.title.title__lg Готовая работающая структура для ведения бизнеса
				p Мы участвуем в разработке законодательных актов в сфере регистрации юридических лиц,  поэтому мы в курсе всех новшеств  законодательства в сфере регистрации юридических лиц
			a(href="#").btn.btn--md.btn--red.main-service_link Заказать