//Header
.header
	.main-cont
		.header-wraper
			a(href="/").header__logo
				img(src="img/logo.png", alt="")
			.header__nav
				.header__link
					a(href="#") Главная
				.header__link
					a(href="#") Услуги
					.header-sub
						a(href="#").header-sub__el Регистрация ООО
						a(href="#").header-sub__el Ликвидация ООО
						a(href="#").header-sub__el Регистрация ИП
						a(href="#").header-sub__el Юридические адреса

				.header__link
					a(href="#") О нас
				.header__link
					a(href="#") Цены
				.header__link
					a(href="#") Контакты
			a(href="#").header__phone 8(495)483-21-21
			i.icon-bars.header__toggle

