.list-service
	.title.title__md Другие услуги
	a(href="#").list-service__link Смена генерального директора
	a(href="#").list-service__link Смена юридического адреса
	a(href="#").list-service__link Купля-Продажа долей
	a(href="#").list-service__link Внесение изменений в  состав учредителей
	a(href="#").list-service__link Увеличение уставного капитала
	a(href="#").list-service__link Выход участника из состава ООО
	a(href="#").list-service__link Внесение изменений в виды деятельности (ОКВЭД)

