.list-service
	.list-service__toggle
		.title.title__md Все услуги
		i.icon-bars
	.list-service__wrap
		.list-service__el
			.title.title__md Регистрация фирм
			a(href="#").list-service__link Регистрация ООО
			a(href="#").list-service__link Смена генерального директора
			a(href="#").list-service__link Смена юридического адреса
			a(href="#").list-service__link Купля-Продажа долей
			a(href="#").list-service__link Внесение изменений в  состав учредителей
			a(href="#").list-service__link Увеличение уставного капитала
			a(href="#").list-service__link Выход участника из состава ООО
			a(href="#").list-service__link Внесение изменений в виды деятельности (ОКВЭД)
		.list-service__el
			.title.title__md Ликвидация фирм
			a(href="#").list-service__link Ликвидация ООО
			a(href="#").list-service__link Реорганизация в форме присоединения
			a(href="#").list-service__link Реорганизация с  Банкротством правопреемника
			a(href="#").list-service__link Официальная ликвидация
			a(href="#").list-service__link Официальная ликвидация с отстутствием выездной проверки
			a(href="#").list-service__link Банкротство
		.list-service__el
			.title.title__md Работа с ИП
			a(href="#").list-service__link Регистрация ИП
			a(href="#").list-service__link Закрытие ИП
		.list-service__el
			.title.title__md Адреса
			a(href="#").list-service__link Юридические адреса
			a(href="#").list-service__link Москва
			a(href="#").list-service__link Московская область
			a(href="#").list-service__link Регионы РФ



