.section.section__main-service
	.main-cont
		.main-service
			.main-service__el
				.main-service__head
					.main-service_icon
						i.icon.flaticon-handshake
					.main-service_title Регистрация ООО
				.main-service_text A real-time WYSIWYG editor: you are able to customize the look of your website directly on page and see your changes right away!
				a(href="#").btn.btn--md.btn--red-light.main-service_link 3000 р

			.main-service__el
				.main-service__head
					.main-service_icon
						i.icon.flaticon-network
					.main-service_title Ликвидация ООО
				.main-service_text A real-time WYSIWYG editor: you are able to customize the look of your website directly on page and see your changes right away!
				a(href="#").btn.btn--md.btn--red-light.main-service_link 5000 р

			.main-service__el
				.main-service__head
					.main-service_icon
						i.icon.flaticon-businessmen
					.main-service_title Регистрация ИП
				.main-service_text A real-time WYSIWYG editor: you are able to customize the look of your website directly on page and see your changes right away!
				a(href="#").btn.btn--md.btn--red-light.main-service_link 4000 р

			.main-service__el
				.main-service__head
					.main-service_icon
						i.icon.flaticon-hierarchy
					.main-service_title Реорганизация 
				.main-service_text A real-time WYSIWYG editor: you are able to customize the look of your website directly on page and see your changes right away!
				a(href="#").btn.btn--md.btn--red-light.main-service_link 2000 р

