.section.section__personal
	.main-cont
		.title.title__lg Наши сотрдуники
		.personal
			.personal__el
				.personal__photo(style="background-image:url('img/bg-1.jpg')")
				.personal__info
					.personal__name Ольга Иванова
				.personal__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat sit cupiditate sequi fugit, laudantium dolor eaque maiores natus deleniti.
			.personal__el
					.personal__photo(style="background-image:url('img/bg-1.jpg')")
					.personal__info
						.personal__name Ольга Иванова  Ольга Иванова
					.personal__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat sit cupiditate sequi fugit, laudantium dolor eaque maiores natus deleniti.
			.personal__el
					.personal__photo(style="background-image:url('img/bg-1.jpg')")
					.personal__info
						.personal__name Ольга Иванова  Ольга Иванова  Ольга Иванова
					.personal__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat sit cupiditate sequi fugit, laudantium dolor eaque maiores natus deleniti.
			.personal__el
					.personal__photo(style="background-image:url('img/bg-1.jpg')")
					.personal__info
						.personal__name Ольга Иванова
					.personal__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat sit cupiditate sequi fugit, laudantium dolor eaque maiores natus deleniti.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat sit cupiditate sequi fugit, laudantium dolor eaque maiores natus deleniti.

