.section.section__personal
	.main-cont
		.title.title__lg Наши сотрдуники
		.personal
			- for (var a = 0; a < 4; a++)
				.personal__el
					.personal__photo
						img(src="img/personal-1.jpg", alt="")
					.personal__info
						.personal__name Ольга Иванова
						.personal__status Юрист
					.personal__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat sit cupiditate sequi fugit, laudantium dolor eaque maiores natus deleniti.

