.main-cont
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi vel nobis animi placeat. Harum odio neque voluptate magni vero ad. Facilis similique voluptates sit eos, illum animi adipisci corrupti, porro harum iure distinctio! A quam fugit eum repellendus nam itaque enim at laboriosam, laudantium nobis neque doloremque maxime vitae repudiandae saepe asperiores recusandae aliquam, illo vero doloribus, cumque, commodi sit ex.

	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam blanditiis adipisci necessitatibus voluptas ipsam quas, modi maiores quos nesciunt vel reiciendis quidem sit fugit molestias facere, commodi iure, nostrum rerum, magni accusantium molestiae? Dolores harum quasi nesciunt animi dolorum molestias, excepturi id, beatae explicabo doloribus, consequuntur tempora deserunt ullam ad! Accusamus nostrum reprehenderit porro voluptate, deserunt quae libero, fuga, quibusdam, amet vitae iste similique possimus placeat quas ipsum nisi illum saepe distinctio ducimus. Reprehenderit eligendi, numquam tempora expedita aliquam voluptas facilis doloremque esse enim, aliquid repellat, quas dicta natus commodi fuga ducimus illo laborum itaque! Praesentium, ad non delectus tempora?

	.title.title__md Общество с ограниченной ответственностью (ООО)
	table.table
		thead
			tr
				th Наименование
				th Срок
				th Цена
		tbody
			- for (var a = 0; a < 10 ; a++)
				tr
					td Первичная регистрация (ООО)
					td 9 дней
					td от 4900 руб.
	
	.title.title__md Закрытое акционерное общество (ЗАО)
	table.table
		thead
			tr
				th Наименование
				th Срок
				th Цена
		tbody
			- for (var a = 0; a < 10 ; a++)
				tr
					td Первичная регистрация (ООО)
					td 9 дней
					td от 4900 руб.