.question
	.title.title__md Популярные вопросы
	- for (var a = 0;a < 4; a++)
		.question__el
			.title.title__sm.question__title Что нужно для открытия ООО ?
			.question__text
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis nisi praesentium et, nesciunt hic fugiat sunt error excepturi, reprehenderit molestias, voluptatem delectus aut ab alias expedita voluptatibus ut, sapiente quod...
			a(href="#").question__more Подробнее