.section.section__relax
	.main-cont
		.relax
			.relax__text
				.title.title__lg Мы работаем вы отдыхаете
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quibusdam rem molestiae totam maxime, aperiam, laudantium accusamus. Ut maxime dignissimos sapiente atque, similique, quia natus, ipsum voluptates sunt enim illo.20
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quibusdam rem molestiae totam maxime, aperiam, laudantium accusamus. Ut maxime dignissimos sapiente atque, similique, quia natus, ipsum voluptates sunt enim illo.20p  Lorem ipsum similique, quia natus, ipsum voluptates sunt enim illo.20p  Lorem ipsum 
				a(href="#").btn.btn--md.btn--red.main-service_link подробнее
			.relax__img
				img(src="img/man-black.png", alt="")
				//img(src="img/relax.png", alt="")