.service-value
	.title.title__md Подробнее
	.service-value__cont
		.service-value__el
			.service-value__name цена
			.service-value__val.service-value__cost 3400 руб
		.service-value__el
			.service-value__name сроки
			.service-value__val от 2-3 дня
	.service-value__cont
		.title.title__md Как получить
		.service-value__el
			.service-value__name Часы работы
			.service-value__val с 9-00 до 18-00
		.service-value__el
			.service-value__name Почта
			.service-value__val info@mail.ru
		.service-value__el
			.service-value__name Номер телефона
			.service-value__val 8(495)432-32-23
	a(href="#").btn.btn--md.btn--green.service-value_but Получить