.section.section__service
	.main-cont
		.service
			.service__info
				.title.title__md Регистрация фирм
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolorem veniam, natus hic molestiae eligendi accusamus officia dolore molestias asperiores corporis quam rem minus tempora, tenetur quibusdam. Hic velit fugit, placeat fugiat ex quasi dolore obcaecati aliquid omnis dolor earum laudantium soluta explicabo odit porro veritatis, eos voluptatum! Alias quo vitae modi, maiores ea velit saepe ipsam sapiente soluta laboriosam dolores quasi nihil autem optio natus enim animi voluptate earum error? Perferendis fugiat unde nihil illum officiis adipisci,
				p dolores ipsa eligendi eveniet officia quas iste enim quia ducimus necessitatibus. Vitae repellendus molestiae sequi ex, doloremque totam dolorem expedita similique dolorum. Veniam alias nobis repellendus magni dolore tempora, amet, dignissimos atque, vel laborum cumque distinctio doloremque eveniet enim iusto officiis labore placeat pariatur voluptatem rerum omnis. Reprehenderit, similique, volupt
			.service__item
				a(href="#").list-service__link Регистрация ООО
				a(href="#").list-service__link Смена генерального директора
				a(href="#").list-service__link Смена юридического адреса
				a(href="#").list-service__link Купля-Продажа долей
				a(href="#").list-service__link Внесение изменений в  состав учредителей
				a(href="#").list-service__link Увеличение уставного капитала
				a(href="#").list-service__link Выход участника из состава ООО
				a(href="#").list-service__link Внесение изменений в виды деятельности (ОКВЭД)

.section.section__service
	.main-cont
		.service
			.service__info
				.title.title__md Ликвидация фирм
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolorem veniam, natus hic molestiae eligendi accusamus officia dolore molestias asperiores corporis quam rem minus tempora, tenetur quibusdam. Hic velit fugit, placeat fugiat ex quasi dolore obcaecati aliquid omnis dolor earum laudantium soluta explicabo odit porro veritatis, eos voluptatum! Alias quo vitae modi, maiores ea velit saepe ipsam sapiente soluta laboriosam dolores quasi nihil autem optio natus enim animi voluptate earum error? Perferendis fugiat unde nihil illum officiis adipisci,
				p dolores ipsa eligendi eveniet officia quas iste enim quia ducimus necessitatibus. Vitae repellendus molestiae sequi ex, doloremque totam dolorem expedita similique dolorum. Ven
			.service__item
				a(href="#").list-service__link Ликвидация ООО
				a(href="#").list-service__link Реорганизация в форме присоединения
				a(href="#").list-service__link Реорганизация с  Банкротством правопреемника
				a(href="#").list-service__link Официальная ликвидация
				a(href="#").list-service__link Официальная ликвидация с отстутствием выездной проверки
				a(href="#").list-service__link Банкротство

.section.section__service
	.main-cont
		.service
			.service__info
				.title.title__md Работас с ИП и Юридические адреса
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolorem veniam, natus hic molestiae eligendi accusamus officia dolore molestias asperiores corporis quam rem minus tempora, tenetur quibusdam. Hic velit fugit, placeat fugiat ex quasi dolore obcaecati aliquid omnis dolor earum laudantium soluta explicabo odit porro veritatis, eos voluptatum! Alias quo vitae modi, maiores ea velit saepe ipsam sapiente soluta laboriosam dolores quasi nihil autem optio natus enim animi voluptate earum error? Perferendis fugiat unde nihil illum officiis adipisci,
				p dolores ipsa eligendi eveniet officia quas iste enim quia ducimus necessitatibus. Vitae repellendus molestiae sequi ex, doloremque totam dolorem expedita similique dolorum. Ven
			.service__item
					a(href="#").list-service__link Регистрация ИП
					a(href="#").list-service__link Закрытие ИП
					a(href="#").list-service__link Юридические адреса
					a(href="#").list-service__link Москва
					a(href="#").list-service__link Московская область
					a(href="#").list-service__link Регионы РФ

