.slider.slider-main.owl-carousel
	.slider-main-el(style="background-image:url('img/bg-1.jpg')")
		.main-cont
			.slider-main__wraper.slider-main__wraper--left
				.title.title__lg.title--light.slider-main__title Регистрация 'ООО'
				.slider-main__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem aperiam ipsum repellendus in vero perferendis magnam mollitia voluptate odio delectus, dicta, quas asperiores aliquid iure porro, natus dolores dolorem nihil.dicta, quas asperiores aliquid iure porro, natus dolores dolorem nihil.
				a(href="#").btn.btn--md.btn--red Подробнее
	.slider-main-el(style="background-image:url('img/bg-2.jpg')")
		.main-cont
			.slider-main__wraper.slider-main__wraper--left
				.title.title__lg.title--light.slider-main__title Регистрация 'ООО'
				.slider-main__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem aperiam ipsum repellendus in vero perferendis magnam mollitia voluptate odio delectus, dicta, quas asperiores aliquid iure porro, natus dolores dolorem nihil.dicta, quas asperiores aliquid iure porro, natus dolores dolorem nihil.
				a(href="#").btn.btn--md.btn--red Подробнее

