table.table_tarif
	tbody
		tr
			td Регистрация ООО
			td Эконом <br>5000 руб
			td Стандарт  <br> 8000 руб.
			td Бизнес <br> 38000
		tr
			td Консультация по вопросам регистрации ООО (подбор ОКВЭД, наименования фирмы, величины Уставного капитала, подбор юридического адреса)
			td +
			td -
			td +
		tr
			td Консультация по выбору системы налогообложения
			td +
			td +
			td +
		tr
			td Консультация по вопросам регистрации ООО (подбор ОКВЭД, наименования фирмы, величины Уставного капитала, подбор юридического адреса)
			td +
			td  -
			td +
		tr
			td Консультация по выбору системы налогообложения
			td +
			td +
			td +
