.contact
	flex(between)
	fw()
	align-items flex-start
.contact__form
	+below(768px)
		width 100%
	width 48%
	input
		width 100%
		margin-bottom 20px
	textarea
		width 100%
		margin-bottom 20px
.section__contact
	background grey
.contact__text
	+below(768px)
		width 100%
	width 48%
.contact__phone
	+below(768px)
		font-size 24px
	font-size 42px 