.section__four-service
	padding-bottom 0px
.four-service-wrap
	f()
	justify-content space-between
	fw()
.four-service-el
	+below(768px)
		width 100%
		border 0px
	width 48%
	padding 20px
	margin-bottom 50px
	position relative
	border-left 40px solid #f6f6f6
	bsh()
.four-service-title
	+below(1200px)
		font-size 22px
	font-size 26px
	font-weight 700 
.four-service-text
	p
		color #646464
	img
		position absolute
		right 0px
		top 0
		
.four-service-price
	font-size 30px
	color red
	font-weight 200