.section__get-order
	background grey 
.get-order
	flex(mid)
	fl()
.get-order__text
	+below(768px)
		width 100%
	text-align center
	width 60%
	margin-bottom 20px
	font-size 18px
.get-order__img
	margin-bottom 20px
 