.header
	+below(768px)
		padding 10px 0px
	bsh()
	background white
	z-index 2000 
.header__logo
	+below(768px)
		width 100px
		flex(mid)
	margin 5px 0
	width 200px
.header-wraper
	+below(768px)
		align-items center
	flex(between)
	align-items inherit
	.icon-bars
		+below(768px)
			display block 
		display none
		margin-left 20px
		font-size 20px
		cp()
.header__nav
	+above(768px)
		display flex!important
	+below(1200px)
		width 100%
		justify-content space-around
	+below(768px)
		fw()
		display none
		position absolute
		background white
		width 100% 
		z-index 2000
		margin-top 10px
	flex(between)
	left 0px
	top 100%
	width 65%
.header__phone
	+below(960px)
		font-size 16px
	+below(768px)
		margin-left auto
		border-bottom 1px dotted black
	flex(between)
	font-size 24px
	font-weight 700
.header__link
	+below(768px)
		width 100%
		border-top 1px solid grey 
		display block 
		padding 0
	padding 20px 0
	position relative
	height 100%
	flex(mid)
	text-align center
	&:hover
		.header-sub
			display block
	&:last-child
		a
			margin-right 0
	.fa-caret-down
		margin-left 5px
.header__link > a 
	+below(960px)
		font-size 14px
	+below(768px)
		background white 
		display inline-block
		padding 10px
		margin-right 0
		color #106497
	up()
	color white
	margin-right 30px
	font-size 16px
	display block
	font-weight 700
	
.header-sub
	+below(768px)
		display block
		position relative
		width 100%
		border-top 0px
	display none 
	position absolute
	top 100% 
	left 0px
	background grey
	z-index 2000
	border-top 2px solid red
.header-sub__el
	+below(768px)
		width 100%
	display block
	//white-space nowrap
	padding 10px
	width 200px
	border-bottom 1px solid darken(grey,10)
	tr(all)
	&:hover
		background red
		color white 

.header-top
	flex(between)
	+below(768px)
		margin-bottom 20px
		fw()
	.header__logo
		width 30%
		+below(1200px)
			width 20%
		+below(768px)
			width 100%
.header__top-wrap
	+below(1200px)
		width 75%
	+below(768px)
		width 100%
		flex-wrap wrap
	width 60%
	flex(between)
	.header__cont-info-el
		&:nth-child(3)
			border-right 0px 
.header__cont-info
	flex(between)
.header__cont-info-el
	+below(768px)
		border 0px
		margin-bottom 10px
	width 100%
	flex(mid)
	fl()
	margin-right 10px
	border-right 1px  solid  #919191
.header__cont-head 
	color #919191
	margin-bottom 5px
	text-transform uppercase
	font-size 12px
	.fa
		color #ef3910
		margin-right 10px
.header__cont-text  
	+below(1200px)
		font-size 14px
	font-weight 700
	text-transform uppercase
	font-size 18px
	a
		font-weight 700
		text-transform uppercase
		font-size 18px
.header__top-wrap-get
	margin-bottom 0
	margin-left 20px
	+below(768px)
		display none
.header-wraper
	+below(768px)
		padding 5px 0
	justify-content flex-end
.nav-wraper
	background #106497 
.header__toggle
	color white

