.personal
	flex(between)
	fw()
.personal__el
	+below(768px)
		width 100%
	width 24%
	border 1px solid grey
//.personal__photo
.personal__info
	text-align center
	background 	white
	padding 10px	
.personal__name
	font-size 20px
	font-weight 	700 	
.personal__text
	text-align center	
	padding 20px 10px	