.relax
	f()
	fw()
.relax__text
	+below(768px)
		width 100%
	width 50%
	flex(mid)
	fl()
	align-items flex-start
	margin-bottom 20px
	.btn
		margin-top 20px
.relax__img
	+below(768px)
		display none
	width 50%
	flex(mid)
	img
		width 80%
	
.section__relax
	//background grey
	padding-bottom 0 
	