.section-call
	padding 20px
	border 2px solid green
	margin-bottom 20px
.section-call__text
	up()
	text-align center
	color #3A3A3A 
.section-call__number
	+below(1024px)
		font-size 26px
	font-weight 700
	text-align center
	margin 20px 0 10px
	font-size 32px 
	