.service-value
	border 2px solid green
	padding 20px
	margin-bottom 30px
//.title
//.title__md
.service-value__el
	flex(between)
	margin-bottom 10px
	padding-bottom 10px
	border-bottom 1px solid grey
	&:last-child
		margin-bottom 30px
.service-value__cont
	margin-bottom 20px
//.service-value__name
.service-value__val
	font-weight 700
	font-size 16px
.service-value__cost
	font-size 20px
.service-value_but
	width 100%
	text-align center