.slider-main
	width 100%
.slider-main-el
	+below(768px)
		background dark 
	width 100%
	height 400px
	background-position center top
	.main-cont
		height 100%
.slider-main__wraper
	flex(mid)
	align-items flex-start
	height 100%
	fl()
.slider-main__wraper--left
	+below(768px)
		width 100%
		flex(mid)
		fl()
	width 40%
.slider-main__text
	+below(768px)
		text-align center
	color white
	margin-bottom 20px
