.table_tarif
	tr
		td
			vertical-align middle
			text-align center
			font-size 24px
			&:nth-child(1)
				text-align left
				font-size 14px
				
		&:nth-child(1)
			font-weight 700
			td
				font-size 14px
				&:nth-child(1)
					width 50%
				vertical-align middle
.table_tarif__plus
	round()
	flex(mid)
	color white
	background green !important
	font-size 30px
	width 22px
	height 22px
	display inline-block
	text-align center
	line-height 20px
.table_tarif__minus
	flex(mid)
	round()
	color black
	background #E3E3E3!important
	color white
	font-size 30px
	width 22px
	height 22px
	display inline-block
	text-align center
					